<div class="row">
    <!-- <div class="col-2">
        <a class="my-link fw-bold" role="button" id="user-tab">Users<br></a>
        <a class="my-link fw-bold" role="button" id="devcies-tab">Devices</a><br>
        <a class="my-link fw-bold" role="button" id="sensors-tab">Sensors</a><br>
        <a class="my-link fw-bold" role="button" id ='log-tab'>Log</a><br>
        <a class="my-link fw-bold" role="button" id="ticketing-tab">Ticketing</a><br>
    </div> -->
    <div class="col-10">
        
        <div class="row hide" id="users1">
            <div class="col-12">

                <!-- All user list in input fields -->
                <div class="row border border-2 rounded">
                    <div class="col-12 d-flex rounded-pill justify-content-end align-items-end">
                        <a href="export_user_csv" class="btn my-3 me-5 btn-primary " role="button">Export Users As CSV
                            <i class="fa-solid ms-1 fa-file-export"></i> </a>
                        <!-- <a href="add_new_user" class="btn my-3 me-5 btn-primary " role="button">Add new <i
                                class="fa-solid fa-plus"></i> </a> -->
                        <button type="button" class="btn my-3 me-5 btn-primary" data-bs-toggle="modal"
                            data-bs-whatever="{{user.username}}" id="btn_del" data-bs-target="#btn_add_user">
                            Add new <i class="fa-solid fa-plus"></i>
                        </button>



                    </div>
                </div>

                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for user in users%}
                            <tr>
                                <th scope="row">{{user.id}}</th>
                                <td>{{user.username}}</td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td>{{user.email}}</td>
                                <td>
                                    <a href="user_change/{{user.id}}" class="btn ms-3  btn-primary" role="button">View<i
                                            class="fa-solid ms-1 fa-pen-to-square"></i></a>
                                </td>
                                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-whatever="{{user.username}}" id="btn_del"
                                        data-bs-target="#btn_del_modal">
                                        Delete<i class="fa-solid ms-1 fa-trash-can"></i>
                                    </button></td>
                            </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                </div>


                <!-- AddNewUserModal -->
                <div class="modal fade " id="btn_add_user" tabindex="-1" aria-labelledby="AddUserModal"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddUserModal">Add new User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="row d-flex my-5 justify-content-center">
                                    <div class="col-11 rounded shadow">
                                        <h1 class="mb-5 text-center">Add new User</h1>
                                        {% if form.errors %}
                                        {% for field in form %}
                                        {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                        {% endfor %}
                                        {% endfor %}

                                        {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                        {% endfor %}

                                        {% endif %}


                                        <form method="POST" action="">
                                            {{form.as_p}}
                                            {% csrf_token %}
                                            <br>
                                            <button type="submit" class="btn btn-primary"
                                                data-bs-dismiss="modal">Submit</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <p>Fotter</p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- EndNewUserModal -->

                <!-- Delete User modal  -->

                <div class="modal fade" id="btn_del_modal" tabindex="-1" aria-labelledby="deleteModal"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModal">Set in JS</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <h4 id="del_id" class="text-danger"></h4>
                                <p style="opacity: 0.7;" class="fs-5">Make sure this user will permanently deleted. You
                                    can deactive this user instead. To deactive just uncheck the "Active Status" from
                                    permissions tab and submit.</p>

                            </div>
                            <div class="modal-footer">
                                <!-- Href Set in JS -->
                                <a href="#" class="btn btn-danger" id="del_user_btn" role="button">Delete<i
                                        class="fa-solid ms-1 fa-trash-can"></i></a>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!--End Delete User modal  -->


            </div>
        </div>
        <div class="row hide" id="devices1">
            <div class="col-12">
                
                <!-- Devices Tab -->

            

                <div class="row border border-2 rounded">
                    <div class="col-12 d-flex rounded-pill justify-content-end align-items-end">
                        <a href="#" class="btn my-3 me-5 btn-primary " role="button">Export Devices As CSV
                            <i class="fa-solid ms-1 fa-file-export"></i> </a>

                        <button type="button" class="btn my-3 me-5 btn-primary" id="btn_add_device">
                            Add new <i class="fa-solid fa-plus"></i>
                        </button>

                    </div>
                </div>
                <!-- AddNewDeviceForm -->
                <div class="row my-5 border border-3 rounded shadow p-5 hide" id="device_form">
                    <div class="col-12">
                        <div class="row d-flex justify-content-end">
                            <div class="col-auto"><button class="btn btn-outline-danger btn-close" id="device_cancel"></button></div>
                        </div>
                        <!-- <form action="" method="POST">
                            {% csrf_token %}
                            {{deviceForm}}
                            <button>save device</button>
                        </form> -->
                        <form action="" method="">
                            {% csrf_token %}
                            <label for="" class="form-label"> Vehicle #</label>
                            <input class="form-control" type="number" name="vehicle_no" >
                            <label for="" class="form-label"> Route Name</label>
                            <input class="form-control" type="text" name="route_name"><br>
                            <h5>Including sensors:</h5>
                            <label for="" class="form-label">  Temperature</label>
                            <input class="form-check-input" type="checkbox" name="temperature">
                            <label for="" class="form-label"> Carbon Mono </label>
                            <input class="form-check-input" type="checkbox" name="carbon_mono">
                            <label for="" class="form-label"> Humidity</label>
                            <input class="form-check-input" type="checkbox" name="humidity">
                            <label for="" class="form-label"> Light </label>
                            <input class="form-check-input" type="checkbox" name="light">
                            <label for="" class="form-label"> Noise </label>
                            <input class="form-check-input" type="checkbox" name="noise">
                            <label for="" class="form-label"> longitude</label>
                            <input class="form-check-input" type="checkbox" name="longitude">
                            <label for="" class="form-label"> latitude</label>
                            <input class="form-check-input" type="checkbox" name="latitude"><br>
                            <button class="btn btn-outline-primary" id="btn_device_save" type="submit">Save</button>
                        </form>
                    </div>
                </div>


                <!-- AllDevicesList -->
                <div class="row my-5">
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Vehicle</th>
                                    <th scope="col">Route</th>
                                    <th scope="col">temp</th>
                                    <th scope="col">CO</th>
                                    <th scope="col">Humidity</th>
                                    <th scope="col">Light</th>
                                    <th scope="col">Noise</th>
                                    <th scope="col">long</th>
                                    <th scope="col">lat</th>

                                </tr>
                            </thead>
                            <tbody>

                                {% for device in devices%}
                                <tr>
                                    <th scope="row">{{device.device_id}}</th>
                                    <td>{{device.vehicle_no}}</td>
                                    <td>{{device.route_name}}</td>
                                    <td>{{device.temperature}}</td>
                                    <td>{{device.carbon_mono}}</td>
                                    <td>{{device.humidity}}</td>
                                    <td>{{device.light}}</td>
                                    <td>{{device.noise}}</td>
                                    <td>{{device.langitude}}</td>
                                    <td>{{device.latitude}}</td>
                                </tr>
                                {%endfor%}

                            </tbody>
                        </table>
                    </div><img src="{% static 'member/images/uog.jpg' %}" style="max-width: 400px; max-height:400px;"
                    class="img-fluid m-5 rounded-circle" alt="uog-img">
                </div>

                
            

            <!-- Devices Tab End -->
            </div>
        </div>
        <div class="row hide" id="sensors1">
            <div class="col-12">
                
                all sensors with their device id
                <img src="{% static 'member/images/uog.jpg' %}" style="max-width: 400px; max-height:400px;"
                    class="img-fluid m-5 rounded-circle" alt="uog-img">
            </div>
        </div>
        <div class="row hide" id="log1">
            <div class="col-12">log tabe</div>
        </div>
        <div class="row hide" id="ticketing1">
            <div class="col-12">
                
                <div class="row my-5">
                    <div class="col-12 my-3">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                    <!-- mainRow -->
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Devices</th>
                                        <th scope="col">temp</th>
                                        <th scope="col">CO</th>
                                        <th scope="col">Humidity</th>
                                        <th scope="col">Light</th>
                                        <th scope="col">Noise</th>
                                        <th scope="col">GPS</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for user in users%}
                                    {% if not user.is_superuser%}
                                    <tr>
                                        <th scope="row">{{user.id}}</th>
                                        <td>{{user.username}}</td>
                                        <td>

                                            <select class="form-select" aria-label="Default select example">
                                                <option selected disabled>Select device</option>
                                                {% for device in devices%}
                                                <option value="{{device.device_id}}">{{device.device_id}}
                                                    {{device.route_name}}</option>
                                                {%endfor%}
                                            </select>
                                        </td>


                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="flexSwitchCheckChecked" checked>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="flexSwitchCheckChecked" checked>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="flexSwitchCheckChecked" checked>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="flexSwitchCheckChecked" checked>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="flexSwitchCheckChecked" checked>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="flexSwitchCheckChecked" checked>
                                            </div>
                                        </td>
                                    </tr>
                                    {%endif%}
                                    {%endfor%}

                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>




                <img src="{% static 'member/images/uog.jpg' %}" style="max-width: 400px; max-height:400px;"
                    class="img-fluid m-5 rounded-circle" alt="uog-img">
            </div>
        </div>

    
</div>

</div>


<script>
        var user_tab = document.getElementById('users1');
        var dev_tab = document.getElementById('devices1');
        var sen_tab = document.getElementById('sensors1');
        var log_tab = document.getElementById('log1');
        var ticket_tab = document.getElementById('ticketing1');

        document.getElementById('user-tab').addEventListener('click',()=>{
            user_tab.classList.remove('hide');
            dev_tab.classList.add('hide');
            sen_tab.classList.add('hide');
            log_tab.classList.add('hide');
            ticket_tab.classList.add('hide');

        });
        document.getElementById('devcies-tab').addEventListener('click',()=>{
            user_tab.classList.add('hide');
            dev_tab.classList.remove('hide');
            sen_tab.classList.add('hide');
            log_tab.classList.add('hide');
            ticket_tab.classList.add('hide');
            

        });
        document.getElementById('sensors-tab').addEventListener('click',()=>{
            user_tab.classList.add('hide');
            dev_tab.classList.add('hide');
            sen_tab.classList.remove('hide');
            log_tab.classList.add('hide');
            ticket_tab.classList.add('hide');

        });
        document.getElementById('log-tab').addEventListener('click',()=>{
            user_tab.classList.add('hide');
            dev_tab.classList.add('hide');
            sen_tab.classList.add('hide');
            log_tab.classList.remove('hide');
            ticket_tab.classList.add('hide');

        });
        document.getElementById('ticketing-tab').addEventListener('click',()=>{
            user_tab.classList.add('hide');
            dev_tab.classList.add('hide');
            sen_tab.classList.add('hide');
            log_tab.classList.add('hide');
            ticket_tab.classList.remove('hide');

        });
        


</script>