{% extends 'member/basic.html' %}
{% block title%}Change Password{% endblock%}
{% block body%}
<div class="row d-flex justify-content-center mt-5">
    <div class="col-lg-6 col-10 p-5 rounded shadow form-box">
        {% if form.errors%}
        <div class="alert alert-warning" role="alert">
           There is an error. please check password rules and try again.
          </div>
        
        {%endif%}
        <h1 class="mb-5 text-center">Change Password</h1>
        <form method="POST" action="change_password">

            {{form.as_p}}
            {% csrf_token %}
            <br>
            
            <button type="submit" class="btn btn-outline-primary">Change Password</button>
        </form>
    </div>
</div>
<script>
    var old_pass = document.getElementById('id_old_password');
    var new_pass1 = document.getElementById('id_new_password1');
    var new_pass2 = document.getElementById('id_new_password2');

    old_pass.addEventListener('load', addclass());
    function addclass() {
        old_pass.classList.add('form-control')
        new_pass1.classList.add('form-control')
        new_pass2.classList.add('form-control')
        old_pass.classList.add('my-2')
        new_pass1.classList.add('my-2')
        new_pass2.classList.add('my-2')


    };



</script>
{% endblock %}