{% extends 'member/basic.html' %}
  {% block body %}
  <div class="row d-flex my-5 justify-content-center">
    <div class="col-lg-6 col-10 p-5 rounded shadow form-box">
      
      
      {%if messages%}
      {%for message in messages%}

      <div class="alert alert-warning" role="alert">
        {{message.message}}
      </div>

      {%endfor%}
      {%endif%}
      <h1 class="mb-5 text-center">Login</h1>

      <form method="POST" action="login_user">
        {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label my-2">Username:</label>
            <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">
         </div>
          <div class="mb-3">
            <label for="password-in" class="form-label">Password:</label>
            <input type="password" name="password" class="form-control" id="password-in">
          </div>
          <div class="mb-3" >
            <div id="ForgotPass" class="form-text">
              <a class="fw-bold my-link" href="http://127.0.0.1:8000/member/reset_password">Forgot Password</a></div>
          </div>
          <div class="mb-3">
          <p class="text-end">Don't have an account? register<a class="fw-bold my-link"  href="register_user"> here</a></p>
          </div>
          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
  </div>
      
{% endblock %}
    