<script>

   // AddUserAjaxEffect
   $(document).ready(function (e) {

$('#btn_userSave').click(function (e) {

e.preventDefault();
console.log('userAjax');
output = "";
$('#dev_save_text').addClass('hide');
      let username = $('#id_username').val();
      let email = $('#id_email').val();
      let first_name = $('#id_first_name').val();
      let last_name = $('#id_last_name').val();
      let password1 = $('#id_password1').val();
      let password2 = $('#id_password2').val();
      let csrf = $("input[name=csrfmiddlewaretoken]").val();

      var mydata = { 'username': username, 'email': email, 'first_name': first_name, 'last_name': last_name,  'password1': password1, 'password2': password2, 'csrfmiddlewaretoken': csrf };
      $.ajax({
         url: "{% url 'add_new_user' %}",
         method: "POST",
         data: mydata,
   //       beforeSend:function(){
   // $('#btn_load_more').addClass('disabled').text('loading');
   // },
         success: function (res) {

            ul = res.usersList;

            for (i = 0; i < ul.length; i++) {
                  output += "<tr><td>" +
                  ul[i].id + "</td><td>"
                  + ul[i].username + "</td><td>"
                  + ul[i].first_name + "</td><td>"
                  + ul[i].last_name + "</td><td>"
                  + ul[i].email + "</td><td>"
                  + "</td><td><a href='user_change/"+ ul[i].username+"'class='btn btn-sm ms-3  btn-primary' role='button'>View<i class='fa-solid ms-1 fa-pen-to-square'></i></a></td><td><button type='button' class='btn btn-sm btn-danger' data-bs-toggle='modal' data-bs-target='#btn_del_modal' data-bs-whatever=" + ul[i].username + "  id='btn_del' >Delete<i class='fa-solid ms-1 fa-trash-can'></i></button></td></tr>";

            }

            $('#user_tbody').html(output);

         }
      });

   });
});
   


   //DeleteUserAjax
//  DeleteUserModal 
var deleteModal = document.getElementById('btn_del_modal')
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var user_name = button.getAttribute('data-bs-whatever');
        var modalTitle = deleteModal.querySelector('.modal-title');
        var modalBodyText = deleteModal.querySelector('.modal-body #del_id');
        modalTitle.textContent = " Delete '" + user_name + "' ?";
        modalBodyText.textContent = " Are you sure to delete user with username' " + user_name + "' ? ";
        del_user_id = document.getElementById('del_user_btn');
      //   var btn_link = "delete_user/" + user_name;
      //   del_user_id.textContent = " Delete ' " + user_name + " '";
      //   del_user_id.setAttribute("href", btn_link);
    
      $(document).ready(function (e) {

$('#del_user_btn').click(function (e) {

e.preventDefault();
console.log('DeleteuserAjax');
output = "";
      let del_userBtn = $('#btn_del_user')
      let username = user_name;
      console.log(user_name);
      let csrf = $("input[name=csrfmiddlewaretoken]").val();

      var mydata = { 'username': user_name, 'csrfmiddlewaretoken': csrf };
      $.ajax({
         url: "{% url 'delete_user' %}",
         method: "POST",
         data: mydata,
   //       beforeSend:function(){
   // $('#btn_load_more').addClass('disabled').text('loading');
   // },
         success: function (res) {
            console.log(res)
            ul = res.usersList;

            for (i = 0; i < ul.length; i++) {
                  output += "<tr><td>" +
                  ul[i].id + "</td><td>"
                  + ul[i].username + "</td><td>"
                  + ul[i].first_name + "</td><td>"
                  + ul[i].last_name + "</td><td>"
                  + ul[i].email + "</td><td>"
                  + "</td><td><a href='user_change/"+ ul[i].username+"'class='btn btn-sm ms-3  btn-primary' role='button'>View<i class='fa-solid ms-1 fa-pen-to-square'></i></a></td><td><button type='button' class='btn btn-sm btn-danger' data-bs-toggle='modal' data-bs-target='#btn_del_modal' data-bs-whatever=" + ul[i].username + "  id='btn_del_user' >Delete<i class='fa-solid ms-1 fa-trash-can'></i></button></td></tr>";

            }

            $('#user_tbody').html(output);

         }
      });

   });
});
});

   // DeviceSaveAjax
   $('#btn_device_save').click(function (e) {

      e.preventDefault();
      output = "";
      $('#dev_save_text').addClass('hide');
      let dev_v_no = $('#id_vehicle_no').val();
      let dev_r_name = $('#id_route_name').val();
      let dev_temp = $('#id_temperature').val();
      let dev_car_mono = $('#id_carbon_mono').val();
      let dev_humi = $('#id_humidity').val();
      let dev_light = $('#id_light').val();
      let dev_noise = $('#id_noise').val();
      let dev_long = $('#id_langitude').val();
      let dev_lat = $('#id_latitude').val();
      let csrf = $("input[name=csrfmiddlewaretoken]").val();


      var mydata = { 'vehicle_no': dev_v_no, 'route_name': dev_r_name, 'temperature': dev_temp, 'carbon_mono': dev_car_mono, 'humidity': dev_humi, 'light': dev_light, 'noise': dev_noise, 'langitude': dev_long, 'latitude': dev_lat, 'csrfmiddlewaretoken': csrf };
      $.ajax({
         url: "{% url 'add_device' %}",
         method: "POST",
         data: mydata,
         success: function (data) {
            // $('#dev_save_text').html(data.status);

            if (data.status == 1) {
               $('#dev_success_alert').removeClass('hide');
               $('#dev_error_alert').addClass('hide');


            }
            else if (data.status == 0) {
               $('#dev_error_alert').removeClass('hide');
               $('#dev_success_alert').addClass('hide');


            }

            dev = data.devicesList;

            for (i = 0; i < dev.length; i++) {
               output += "<tr><td>" +
                  dev[i].device_id + "</td><td>"
                  + dev[i].vehicle_no + "</td><td>"
                  + dev[i].route_name + "</td><td>"
                  + dev[i].temperature + "</td><td>"
                  + dev[i].carbon_mono + "</td><td>"
                  + dev[i].humidity + "</td><td>"
                  + dev[i].light + "</td><td>"
                  + dev[i].noise + "</td><td>"
                  + dev[i].langitude + "</td><td>"
                  + dev[i].latitude + "</td><td><a href='#' class='btn btn-sm ms-3  btn-primary' role='button'>Edit<i class='fa-solid ms-1 fa-pen-to-square'></i></a></td><td><button type='button' class='btn btn-sm btn-danger' data-bs-toggle='modal' data-bs-target='#btn_del_dev_modal' data-bs-whatever=" + dev[i].device_id + "  id='btn_dev_del' >Delete<i class='fa-solid ms-1 fa-trash-can'></i></button></td></tr>";


            }

            $('#table_body').html(output);
            document.getElementById("dev_form").reset();
            document.getElementById("device_form").classList.add("hide");
         }
      });

   });

   // deleteDevice

   var deleteDevModal = document.getElementById('btn_del_dev_modal')
   deleteDevModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget;
      var device_del_id = button.getAttribute('data-bs-whatever');
      var modalTitle = deleteDevModal.querySelector('.modal-title');
      var modalBodyText = deleteDevModal.querySelector('.modal-body #del_dev_id');
      modalTitle.textContent = " Delete '" + device_del_id + "' ?";
      modalBodyText.textContent = " Are you sure to delete device with id' " + device_del_id + "' ? ";


      // ajax functionality
      $('#del_dev_btn').click(function (e) {
         output = "";
         let csrf = $("input[name=csrfmiddlewaretoken]").val();

         myDelData = { 'dj_dev_id': device_del_id, 'csrfmiddlewaretoken': csrf };

         $.ajax({
            url: "{% url 'delete_device' %}",
            method: "POST",
            data: myDelData,
            success: function (data) {
               if (data.status == 1) {
                  $('#dev_success_alert').removeClass('hide');
                  $('#dev_error_alert').addClass('hide');

               }
               else if (data.status == 0) {
                  $('#dev_error_alert').removeClass('hide');
                  $('#dev_success_alert').addClass('hide');

               }

               dev = data.devicesList;
               for (i = 0; i < dev.length; i++) {
                  output += "<tr><td>" +
                     dev[i].device_id + "</td><td>"
                     + dev[i].vehicle_no + "</td><td>"
                     + dev[i].route_name + "</td><td>"
                     + dev[i].temperature + "</td><td>"
                     + dev[i].carbon_mono + "</td><td>"
                     + dev[i].humidity + "</td><td>"
                     + dev[i].light + "</td><td>"
                     + dev[i].noise + "</td><td>"
                     + dev[i].langitude + "</td><td>"
                     + dev[i].latitude + "</td><td><a href='#' class='btn btn-sm ms-3  btn-primary' role='button'>Edit<i class='fa-solid ms-1 fa-pen-to-square'></i></a></td><td><button type='button' class='btn btn-sm btn-danger' data-bs-toggle='modal' data-bs-target='#btn_del_dev_modal' data-bs-whatever=" + dev[i].device_id + "  id='btn_dev_del' >Delete<i class='fa-solid ms-1 fa-trash-can'></i></button></td></tr>";

               }

               $('#table_body').html(output);

            }
         }); //Ajax closed

      });// main func

   });//modal func END

   //Load More Users
   $(document).ready(function (e) {

$('#btn_load_more').click(function (e) {

e.preventDefault();
output = "";
let csrf = $("input[name=csrfmiddlewaretoken]").val();
// href="{%url 'main_admin'%}?page={{devices.num_page}}"
var offset = $('.usersCount').length;
var ser=undefined;
var mydata = { 'offset':offset,'csrfmiddlewaretoken': csrf };
$.ajax({
   url: "{% url 'loadmoreUser' %}",
   method: "POST",
   data: mydata,
   dataType:'json',
   beforeSend:function(){
   $('#btn_load_more').addClass('disabled').text('loading');
   },
   success: function (res) {
      if (res.status==0){
   $('#btn_load_more').addClass('disabled').text('No more users');

      }
      else{
   
            var output = '';
            var json_data = $.parseJSON(res.usersList);
               ser = res.serial-10;
            $.each(json_data,function(index,data){
               ser++;


               output += "<tr class='usersCount'><th scope='row'>"+ser+"</th><td>"+data.fields.username+"</td><td>"+data.fields.first_name+"</td><td>"+data.fields.last_name+"</td><td>"+data.fields.email+"</td><td><a href='user_change/"+data.fields.username+"'type='button' class='btn ms-3  btn-primary'>View<i class='fa-solid ms-1 fa-pen-to-square'></i></a> </td><td><button type='button' class='btn btn-danger' data-bs-toggle='modal'data-bs-whatever="+data.fields.username+" id='btn_del_user' data-bs-target='#btn_del_modal'>Delete<i class='fa-solid ms-1 fa-trash-can'></i></button></td></tr>";
               console.log(data.fields.id);
               
            });
         $('#user_tbody').append(output);
         $('#btn_load_more').removeClass('disabled').text('Load more');
      }

      // dev = data.devicesList;

      // for (i = 0; i < dev.length; i++) {
      //    output += "<tr><td>" +
      //       dev[i].device_id + "</td><td>"
      //       + dev[i].vehicle_no + "</td><td>"
      //       + dev[i].route_name + "</td><td>"
      //       + dev[i].temperature + "</td><td>"
      //       + dev[i].carbon_mono + "</td><td>"
      //       + dev[i].humidity + "</td><td>"
      //       + dev[i].light + "</td><td>"
      //       + dev[i].noise + "</td><td>"
      //       + dev[i].langitude + "</td><td>"
      //       + dev[i].latitude + "</td><td><a href='#' class='btn btn-sm ms-3  btn-primary' role='button'>Edit<i class='fa-solid ms-1 fa-pen-to-square'></i></a></td><td><button type='button' class='btn btn-sm btn-danger' data-bs-toggle='modal' data-bs-target='#btn_del_dev_modal' data-bs-whatever=" + dev[i].device_id + "  id='btn_dev_del' >Delete<i class='fa-solid ms-1 fa-trash-can'></i></button></td></tr>";


      // }

      // $('#table_body').html(output);

   },
   
});

});
});






</script>