{% extends 'main/admin_basic.html' %}
{% block title%}Add new user{% endblock%}
{% block body%}



<div class="row mt-5">

    <div class="col-lg-2">
        <nav class="nav flex-column mt-5">
            <a class="nav-link my-link fw-bold tab-link" data-bs-toggle="tab" href="#users">Users</a>
            <a class="nav-link my-link fw-bold tab-link" data-bs-toggle="tab" href="#devices">Devices</a>
            <a class="nav-link my-link fw-bold tab-link" data-bs-toggle="tab" href="#sensors">Sensors</a>
            <a class="nav-link my-link fw-bold tab-link" data-bs-toggle="tab" href="#log">Log</a>
            <a class="nav-link my-link fw-bold tab-link" data-bs-toggle="tab" href="#ticketing">Ticketing</a>
        </nav>

    </div>
    <div class="col-lg-10">
        <!-- TabContent -->
        <div class="tab-content">
            <div class="tab-pane active" id="#">
                {%load static%}
                <img src="{% static 'member/images/uog.jpg' %}" class="img-fluid m-5 rounded-circle" alt="uog-img">
            </div>

            <!-- Usesr Tab -->
            <div class="tab-pane mt-5" id="users">

                <!-- All user list in input fields -->
                <div class="row border border-2 rounded">
                    <div class="col-12 d-flex rounded-pill justify-content-end align-items-end">
                        <a href="export_user_csv" class="btn my-3 me-5 btn-primary " role="button">Export Users As CSV
                            <i class="fa-solid ms-1 fa-file-export"></i> </a>
                        <!-- <a href="add_new_user" class="btn my-3 me-5 btn-primary " role="button">Add new <i
                                class="fa-solid fa-plus"></i> </a> -->
                        <button type="button" class="btn my-3 me-5 btn-primary" data-bs-toggle="modal"
                            data-bs-whatever="{{user.username}}" id="btn_del" data-bs-target="#btn_add_user">
                            Add new <i class="fa-solid fa-plus"></i>
                        </button>



                    </div>
                </div>
                <div class="row  mb-2  mt-5 fw-bold">
                    <div class="col-2 ">Username</div>
                    <div class="col-2 ">First Name</div>
                    <div class="col-2 ">Last Name</div>
                    <div class="col-2 ">Email</div>
                    <!-- <div class="col-2 ">Password</div> -->
                    <div class="col-2 "></div>
                    <div class="col-2 "></div>

                </div>
                {%for user in users%}
                <div class="row my-2">

                    <div class="col-2">{{user.username}}</div>

                    <div class="col-2">{{user.first_name}}</div>
                    <div class="col-2">{{user.last_name}}</div>
                    <div class="col-2">{{user.email}}</div>
                    <!-- <div class="col-1">{{user.password|truncatechars:10}}</div> -->

                    <div class="col-2">
                        <a href="user_change/{{user.id}}" class="btn ms-3  btn-primary" role="button">View<i
                                class="fa-solid ms-1 fa-pen-to-square"></i></a>
                    </div>
                    <div class="col-2">

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-whatever="{{user.username}}" id="btn_del" data-bs-target="#btn_del_modal">
                            Delete<i class="fa-solid ms-1 fa-trash-can"></i>
                        </button>



                    </div>


                </div>
                {%endfor%}

                <!-- AddNewUserModal -->
                <div class="modal fade " id="btn_add_user" tabindex="-1" aria-labelledby="AddUserModal"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddUserModal">Add new User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="row d-flex my-5 justify-content-center">
                                    <div class="col-11 rounded shadow">
                                        <h1 class="mb-5 text-center">Add new User</h1>
                                        {% if form.errors %}
                                        {% for field in form %}
                                        {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                        {% endfor %}
                                        {% endfor %}

                                        {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                        {% endfor %}

                                        {% endif %}


                                        <form method="POST" action="">
                                            {{form.as_p}}
                                            {% csrf_token %}
                                            <br>
                                            <button type="submit" class="btn btn-primary"
                                                data-bs-dismiss="modal">Submit</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <p>Fotter</p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- EndNewUserModal -->

                <!-- Delete User modal  -->

                <div class="modal fade" id="btn_del_modal" tabindex="-1" aria-labelledby="deleteModal"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModal">Set in JS</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <h4 id="del_id" class="text-danger"></h4>
                                <p style="opacity: 0.7;" class="fs-5">Make sure this user will permanently deleted. You
                                    can deactive this user instead. To deactive just uncheck the "Active Status" from
                                    permissions tab and submit.</p>

                            </div>
                            <div class="modal-footer">
                                <!-- Href Set in JS -->
                                <a href="#" class="btn btn-danger" id="del_user_btn" role="button">Delete<i
                                        class="fa-solid ms-1 fa-trash-can"></i></a>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!--End Delete User modal  -->
                <!-- Nested Horizantol NavTab -->






            </div>
            <!-- Usesr Tab End -->


            <!-- Devices Tab -->

            <div class="tab-pane " id="devices">

                All devices with editable configurations

                <img src="{% static 'member/images/uog.jpg' %}" style="max-width: 400px; max-height:400px;"
                    class="img-fluid m-5 rounded-circle" alt="uog-img">
            </div>

            <!-- Devices Tab End -->



            <!-- Sensors Tab  -->

            <div class="tab-pane " id="sensors">
                all sensors with their device id
                <img src="{% static 'member/images/uog.jpg' %}" style="max-width: 400px; max-height:400px;"
                    class="img-fluid m-5 rounded-circle" alt="uog-img">
            </div>

            <!-- Sensors Tab End -->

            <!-- Log Tab  -->

            <div class="tab-pane " id="log">
                all sensors log
                <img src="{% static 'member/images/uog.jpg' %}" style="max-width: 400px; max-height:400px;"
                    class="img-fluid m-5 rounded-circle" alt="uog-img">
            </div>

            <!-- Log Tab End -->

            <!-- Tickting Tab  -->

            <div class="tab-pane " id="ticketing">
                <div class="row my-5">
                    <div class="col-4">

                        <form method="POST" action="">
                            {% csrf_token %}
                            <select class="form-select" id="user_select">
                                <option selected disabled>Chose user</option>
                                {% for user in users%}
                                {% if not user.is_superuser%}
                                <option value="{{user.username}}"  >{{user.id}}   {{user.username}}</option>
                               
                                {%endif%}
                                {%endfor%}

                            </select>
                            <p id="t_user">Selected user</p>
                            <br>
                        </div>
                        <div class="col-4">
                            <select class="form-select" id="device_select">
                                <option selected disabled>Chose Devices</option>
                                {% for user in users%}
                                
                                <option value="{{user.username}}">{{user.id}}   {{user.username}}</option>
                                <hr class="dropdown-divider">
                                
                                
                                {%endfor%}

                            </select>
                            <p id="t_device">Selected device</p>

                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                        </form>
                    
                </div>
            </div>



            </div>

            <img src="{% static 'member/images/uog.jpg' %}" style="max-width: 400px; max-height:400px;"
                class="img-fluid m-5 rounded-circle" alt="uog-img">
        </div>

        <!-- ticketing Tab End -->


    </div>
    <!-- End Tab Content -->
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script>

    // DeleteUserModal 
    var deleteModal = document.getElementById('btn_del_modal')
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var user_name = button.getAttribute('data-bs-whatever');
        var modalTitle = deleteModal.querySelector('.modal-title');
        var modalBodyText = deleteModal.querySelector('.modal-body #del_id');
        modalTitle.textContent = " Delete '" + user_name + "' ?";
        modalBodyText.textContent = " Are you sure to delete user with username' " + user_name + "' ? ";
        del_user_id = document.getElementById('del_user_btn');
        var btn_link = "delete_user/" + user_name;
        del_user_id.textContent = " Delete ' " + user_name + " '";
        del_user_id.setAttribute("href", btn_link);
    });

    // TicketingTabJs

    // SelectUserJs
    document.getElementById('user_select').addEventListener('change', () => {
        var userselected = document.getElementById('user_select').value;
        var allusers = [];

        document.getElementById('t_user').innerText = 'Username: ' + userselected;
        
    });
     // SelectDeviceJS
     document.getElementById('device_select').addEventListener('change', () => {
        var deviceSelected = document.getElementById('device_select').value; 
        document.getElementById('t_device').innerText = 'Device: ' + deviceSelected;
        
    });

</script>
{% endblock %}