{% extends 'member/basic.html' %}
{% block title%}Reset Password sent{% endblock%}
{% block body%}
<div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6 col-10 p-5 rounded shadow form-box">
        <h1 class="mb-5 text-center">Password reset sent</h1>
        
         <p>   We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            <div class="my-3" >
                <div id="home" class="form-text">
                  <a style="text-decoration: none;" class="fw-bold" href="http://127.0.0.1:8000/member">Go to home</a></div>
              </div>

    </div>
</div>

{% endblock %}